.user-connected-container {
    width: 20%;
    height: 10svh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--hh-spacing-m);
    padding: var(--hh-spacing-m);
}

.user-connected-container > img {
    width: 15px;
    cursor: pointer;
}

.user-connected-container > p {
    font-size: var(--hh-font-size-s);
    color: var(--hh-color-090);
}

@media (max-width: 500px) {
    .user-connected-container > p {
        font-size: var(--hh-font-size-xs);
    }
    .user-connected-container > img {
        width: 10px;
    }
}