.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: clamp(380px, 50%, 80%);
    background-color: red;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.modal-content h2 {
    font-size: var(--hh-font-size-m);
    color: var(--hh-color-090);
}

.modal-content .data-content {
    display: flex;
    flex-direction: column;
    padding: var(--hh-spacing-m);
    gap: var(--hh-spacing-m);
}

