.app-footer-container {
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--hh-spacing-xl);
}

.app-footer-container > span {
    color: var(--hh-color-000);
    font-size: var(--hh-fonnt-size-xs);
}